<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{strategy.list.public.title}"></title>
</head>
<body>
<section layout:fragment="corpo">
    <div class="container">
        <h2 th:text="#{strategy.list.public.header}">Estratégias de Teste Exploratório</h2>
        <p th:text="#{strategy.list.public.description}">Abaixo estão as estratégias disponíveis que podem ser utilizadas durante as sessões de teste.</p>
        <hr/>
        <div id="accordion">
            <div class="card" th:each="estrategia, iter : ${estrategias}">
                <div class="card-header" th:id="'heading' + ${iter.index}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" th:data-target="'#collapse' + ${iter.index}" aria-expanded="true" th:aria-controls="'collapse' + ${iter.index}">
                            [[${estrategia.nome}]]
                        </button>
                    </h5>
                </div>

                <div th:id="'collapse' + ${iter.index}" class="collapse" th:aria-labelledby="'heading' + ${iter.index}" data-parent="#accordion">
                    <div class="card-body">
                        <h5><strong th:text="#{estrategia.description.label}"></strong></h5>
                        <p>[[${estrategia.descricao}]]</p>

                        <h5><strong th:text="#{estrategia.examples.label}"></strong></h5>
                        <p>[[${estrategia.exemplos}]]</p>

                        <h5><strong th:text="#{estrategia.tips.label}"></strong></h5>
                        <p>[[${estrategia.dicas}]]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>